@import "../../../styles/colors";
@import "../../../styles/mixins";

.container {
  min-height: 100vh;
  padding: 0px 20px;
  padding-top: 6rem;

  @include mobile {
    padding: 0px 10px;
    padding-top: 4rem;
  }
  @include mobile-landscape {
    padding: 0px 10px;
    padding-top: 4rem;
  }
}
