@import "../../../styles/mixins";

.cardImage img {
  border-radius: 3px;
  position: relative;
  &:hover {
    cursor: pointer;
    animation: zoomIn 1s ease-out forwards;
    animation-delay: 0.1s;
  }

  @keyframes zoomIn {
    100% {
      transform: scale(1.05);
    }
  }
  @include mobile {
    width: 140px;
    height: 200px;
  }
}
