@import '../../../styles/colors';
.menuLink {
  display: block;
  position: relative;
  color: $primary;
  text-decoration: none;
  font-size: 18px;
  line-height: 2.8;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
