@import "../../../styles/colors";
@import "../../../styles/mixins";

.menuLink {
  display: block;
  position: relative;
  color: $primary;
  text-decoration: none;
  font-size: 18px;
  line-height: 2.8;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.brand {
  @include mobile {
    width: 25%;
    img {
      width: 74px;
      height: 45px;
    }
  }
}
