$primary: #f1554c;
$primary-dark: #f06292;
$primary-darker: #9c254d;

$color-secondary: #FFD369;

$text-color-primary: #0b2361;
$background-color-primary: #222831;
$background-color-light: rgba(65, 240, 209, 0.75);

$background-gradient: linear-gradient(
  to right top,
  #ecfdff,
  #c7fbfc,
  #9ff8f4,
  #74f4e5,
  #41f0d1
);

$mute1: #1CD6CE;
$mute2: #66BFBF;
$secondary1: #FFD369;
$secondary2:#FEDB39;
$background1: #222831;
$background2: #393E46;
$color1: #EEEEEE;