@import "./colors";
@import "./mixins";

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

  &-message {
    font-size: 3rem;
    text-align: center;
    width: 50%;
    color: $primary;
    text-transform: capitalize;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-weight: 700;
  }
}
