@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Crete+Round&family=Maitree&display=swap');
@import './colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Maitree', serif;
  background-color: $background;
  color: $primary;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
